.ui-menu {
  padding: 0;
  max-width: 535px;
  max-height: 180px;
  overflow-y: scroll;
  border: 0.5px solid #ccc !important;
  z-index: 9999;
}
.ui-menu .ui-menu-item {
  border: 0.5px solid #ccc;
}
.ui-menu .ui-menu-item:hover {
  background-color: #eee;
}

.ui-helper-hidden-accessible {
  display: none;
}