.cart_page table {
  font-size: 0.8rem;
}
.cart_page table tr td {
  border-top: 0px solid transparent;
}
.cart_page table thead {
  font-size: 0.9rem;
}
.cart_page table tbody.table-chart-detail tr td {
  padding: 0rem;
  border-top: 0px solid transparent;
}
.cart_page table a {
  color: #373a3c;
  text-decoration: none;
}
.cart_page table select {
  border: 0px solid transparent;
  cursor: pointer;
}
.cart_page #tabtabel li.active a {
  text-decoration: none;
  color: #373a3c;
  font-weight: bold;
}
.cart_page #tabtabel li a {
  text-decoration: none;
  color: grey;
  font-weight: normal;
}