/*hore*/
.alert-warning .link {
    color: #fff;
    background-color: orange;
    padding: 5px 10px;
}

.areafoot {
    background: -moz-radial-gradient(center,ellipse cover,rgba(244,244,244,1) 31%,rgba(244,244,244,1) 31%,rgba(211,211,211,1) 100%);
    background: -ms-radial-gradient(center,ellipse cover,rgba(244,244,244,1) 31%,rgba(244,244,244,1) 31%,rgba(211,211,211,1) 100%);
    background: -o-radial-gradient(center,ellipse cover,rgba(244,244,244,1) 31%,rgba(244,244,244,1) 31%,rgba(211,211,211,1) 100%);
    background: radial-gradient(ellipse at center,rgba(244,244,244,1) 31%,rgba(244,244,244,1) 31%,rgba(211,211,211,1) 100%);
    /*background: #f4f4f4;*/
    background: -webkit-gradient(radial,center center,0px,center center,100%,color-stop(31%,rgba(244,244,244,1)),color-stop(31%,rgba(244,244,244,1)),color-stop(100%,rgba(211,211,211,1)));
    background: -webkit-radial-gradient(center,ellipse cover,rgba(244,244,244,1) 31%,rgba(244,244,244,1) 31%,rgba(211,211,211,1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4',endColorstr='#d3d3d3',GradientType=1);
    padding-bottom: 10px;
    padding-top: 10px;
}

.areafoot .infoquotation {
    padding-top: 30px;
}

.areafoot button.form-control {
    background-color: transparent !important;
    font-weight: 400;
}

.areafoot form {
    padding-bottom: 10px;
    padding-top: 10px;
}

.areafoot form div {
    padding-bottom: 5px;
    padding-top: 5px;
}

.areafoot input {
    background-color: transparent;
    color: #000;
    font-size: 14px;
    font-weight: bolder;
}

.areafoot select,.areafoot textarea,textarea.form-control::-webkit-input-placeholder {
    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
}

.arealogo {
    margin-left: -15px;
/*background-color: #F7F7F7;
	box-shadow: 0px 6px 20px 1px rgba(0, 0, 0, 0.75);
	
	moz-box-shadow: 0px 6px 20px 1px rgba(0, 0, 0, 0.75);
	position: absolute;
	webkit-box-shadow: 0px 6px 20px 1px rgba(0, 0, 0, 0.75);*/
}

.arealogo img {
    margin: 5px;
    margin-top: 20px;
    width: 150px;
}

.areaslide {
    background: -moz-radial-gradient(center,ellipse cover,rgba(244,244,244,1) 31%,rgba(244,244,244,1) 31%,rgba(211,211,211,1) 100%);
    background: -ms-radial-gradient(center,ellipse cover,rgba(244,244,244,1) 31%,rgba(244,244,244,1) 31%,rgba(211,211,211,1) 100%);
    background: -o-radial-gradient(center,ellipse cover,rgba(244,244,244,1) 31%,rgba(244,244,244,1) 31%,rgba(211,211,211,1) 100%);
    background: radial-gradient(ellipse at center,rgba(244,244,244,1) 31%,rgba(244,244,244,1) 31%,rgba(211,211,211,1) 100%);
    /*background: #f4f4f4;*/
    background: -webkit-gradient(radial,center center,0px,center center,100%,color-stop(31%,rgba(244,244,244,1)),color-stop(31%,rgba(244,244,244,1)),color-stop(100%,rgba(211,211,211,1)));
    background: -webkit-radial-gradient(center,ellipse cover,rgba(244,244,244,1) 31%,rgba(244,244,244,1) 31%,rgba(211,211,211,1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4',endColorstr='#d3d3d3',GradientType=1);
    padding-top: 0;
}

.areatextorimage {
    padding: 20px 0;
}

.areatextorimage p {
    font-size: medium;
    height: 100%;
    text-align: justify;
}

.areatolltip-info {
    box-shadow: 0 0 12px 1px rgba(0,0,0,0.6);
    font-family: "museosans-700",Verdana,Tahoma;
    moz-box-shadow: 0 0 12px 1px rgba(0,0,0,0.6);
    padding: 40px;
    webkit-box-shadow: 0 0 12px 1px rgba(0,0,0,0.6);
}

.arrow-down {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid orange;
    height: 0;
    margin-left: 40%;
    width: 0;
}

.badge-genu {
    background-color: orange;
}

.bottomnav {
    background: linear-gradient(to bottom,#e4e3e3 2%,#e8e8e8 49%,#d4d4d4 100%);
    background: -moz-linear-gradient(top,#e4e3e3 2%,#e8e8e8 49%,#d4d4d4 100%);
    background: -ms-linear-gradient(top,#e4e3e3 2%,#e8e8e8 49%,#d4d4d4 100%);
    background: -o-linear-gradient(top,#e4e3e3 2%,#e8e8e8 49%,#d4d4d4 100%);
    /*background: #ccc;
    background: url(data:image/svg+xml);*/
    background: -webkit-gradient(linear,left top,left bottom,color-stop(2%,rgba(204,204,204,1)),color-stop(49%,rgba(209,209,209,1)),color-stop(100%,rgba(181,181,181,1)));
    background: -webkit-linear-gradient(top,#e4e3e3 2%,#e8e8e8 49%,#d4d4d4 100%);
    box-shadow: 0 10px 10px 1px rgba(0,0,0,0.2);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ccc',endColorstr='#b5b5b5',GradientType=0);
    moz-box-shadow: 0 10px 10px 1px rgba(0,0,0,0.2);
    webkit-box-shadow: 0 10px 10px 1px rgba(0,0,0,0.2);
    width: 100%;
}

.bottomnav div.container {
    min-height: 30px;
/*padding-left: 170px;*/
}

.bottomnav div.container ul li {
    float: left;
    list-style: none;
    padding-top: 5px;
}

.bottomnav div.container ul li a {
    color: #4E4C4D;
    font-size: 14px;
    font-weight: 700;
    padding: 5px;
    margin-left:5px; 
    text-decoration: none;
    top: 0;
}

.bottomnav div.container ul li a:hover {
    background-color: rgba(0,0,0,0.06);
}

.btn_input_hidden {
    cursor: pointer;
    font-size: 12px;
    opacity: 0;
    position: relative;
    right: 0;
}

.btn-foot {
    margin-bottom: 10px;
}

.btn-foot img {
    float: left;
    left: 500px;
    width: 25px;
}

.btn-foot strong {
    vertical-align: middle;
    line-height: 25px;
}

p.quantity select {
    width: 80px;
    display: inline-table;
}

table .table-chart-detail tr td {
    padding: 2px 5px;
}

.btn-orange {
    background: #fabe0a;
    background-image: linear-gradient(to bottom,#fabe0a,#e69603);
    background-image: -moz-linear-gradient(top,#fabe0a,#e69603);
    background-image: -ms-linear-gradient(top,#fabe0a,#e69603);
    background-image: -o-linear-gradient(top,#fabe0a,#e69603);
    background-image: -webkit-linear-gradient(top,#fabe0a,#e69603);
    border-radius: 5px;
    color: #fff !important;
    font-family: Arial;
    moz-border-radius: 5;
    text-decoration: none;
    webkit-border-radius: 5;
}

.btn-orange:hover {
    background: #f29a03;
    background-image: linear-gradient(to bottom,#f29a03,#d69a03);
    background-image: -moz-linear-gradient(top,#f29a03,#d69a03);
    background-image: -ms-linear-gradient(top,#f29a03,#d69a03);
    background-image: -o-linear-gradient(top,#f29a03,#d69a03);
    background-image: -webkit-linear-gradient(top,#f29a03,#d69a03);
    text-decoration: none;
}
.btn-red {
    background: #F53939;
    background-image: linear-gradient(to bottom,#F53939,#BB1504);
    background-image: -moz-linear-gradient(top,#F53939,#BB1504);
    background-image: -ms-linear-gradient(top,#F53939,#BB1504);
    background-image: -o-linear-gradient(top,#F53939,#BB1504);
    background-image: -webkit-linear-gradient(top,#F53939,#BB1504);
    border-radius: 5px;
    color: #fff !important;
    font-family: Arial;
    moz-border-radius: 5;
    text-decoration: none;
    webkit-border-radius: 5;
}
.btn-red:hover {
    background: #BB1504;
    background-image: linear-gradient(to bottom,#BB1504,#F53939);
    background-image: -moz-linear-gradient(top,#BB1504,#F53939);
    background-image: -ms-linear-gradient(top,#BB1504,#F53939);
    background-image: -o-linear-gradient(top,#BB1504,#F53939);
    background-image: -webkit-linear-gradient(top,#BB1504,#F53939);
    text-decoration: none;
}
.btn-black {
    background: #5A5959;
    background-image: linear-gradient(to bottom,#5A5959,#232323);
    background-image: -moz-linear-gradient(top,#5A5959,#232323);
    background-image: -ms-linear-gradient(top,#5A5959,#232323);
    background-image: -o-linear-gradient(top,#5A5959,#232323);
    background-image: -webkit-linear-gradient(top,#5A5959,#232323);
    border-radius: 5px;
    color: #fff !important;
    font-family: Arial;
    moz-border-radius: 5;
    text-decoration: none;
    webkit-border-radius: 5;
}
.btn-black:hover {
    background: #232323;
    background-image: linear-gradient(to bottom,#232323,#5A5959);
    background-image: -moz-linear-gradient(top,#232323,#5A5959);
    background-image: -ms-linear-gradient(top,#232323,#5A5959);
    background-image: -o-linear-gradient(top,#232323,#5A5959);
    background-image: -webkit-linear-gradient(top,#232323,#5A5959);
    text-decoration: none;
}

.btn-brown {
    background: #c49727;
    background-image: linear-gradient(to bottom,#c49727,#612405);
    background-image: -moz-linear-gradient(top,#c49727,#612405);
    background-image: -ms-linear-gradient(top,#c49727,#612405);
    background-image: -o-linear-gradient(top,#c49727,#612405);
    background-image: -webkit-linear-gradient(top,#c49727,#612405);
    border-radius: 5px;
    color: #fff !important;
    font-family: Arial;
    moz-border-radius: 5;
    text-decoration: none;
    webkit-border-radius: 5;
}
.btn-brown:hover {
    background: #612405;
    background-image: linear-gradient(to bottom,#612405,#c49727);
    background-image: -moz-linear-gradient(top,#612405,#c49727);
    background-image: -ms-linear-gradient(top,#612405,#c49727);
    background-image: -o-linear-gradient(top,#612405,#c49727);
    background-image: -webkit-linear-gradient(top,#612405,#c49727);
    text-decoration: none;
}
.btn-white {
    background: #f0f0f0;
    background-image: -webkit-linear-gradient(top,#f0f0f0,#d1d1d1);
    background-image: -moz-linear-gradient(top,#f0f0f0,#d1d1d1);
    background-image: -ms-linear-gradient(top,#f0f0f0,#d1d1d1);
    background-image: -o-linear-gradient(top,#f0f0f0,#d1d1d1);
    background-image: linear-gradient(to bottom,#f0f0f0,#d1d1d1);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #333;
    text-decoration: none;
}

.btn-white:hover {
    background: #d6d2d6;
    background-image: -webkit-linear-gradient(top,#d6d2d6,#d9d9d9);
    background-image: -moz-linear-gradient(top,#d6d2d6,#d9d9d9);
    background-image: -ms-linear-gradient(top,#d6d2d6,#d9d9d9);
    background-image: -o-linear-gradient(top,#d6d2d6,#d9d9d9);
    background-image: linear-gradient(to bottom,#d6d2d6,#d9d9d9);
    text-decoration: none;
}

.cardresult {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 3px 13px 2px rgba(0,0,0,0.45);
    margin-bottom: 20px;
    moz-box-shadow: 0 3px 13px 2px rgba(0,0,0,0.45);
    webkit-box-shadow: 0 3px 13px 2px rgba(0,0,0,0.45);
}

.cardresult .height100 {
    height: 100px;
}

dt {
    width: 80px !important;
    text-align: left !important;
}

dd {
    margin-left: 0 !important;
}

.dl-deferent dt {
    width: 100px !important;
}

.detail-sparepart dt {
    display: inline-table;
    width: 20px !important;
    font-family: "museosans-700",Verdana,Tahoma;
}

.detail-sparepart dd {
    display: inline-table;
    font-family: "museosans-700",Verdana,Tahoma;
}

hr.dl-hr {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    display: block;
}

.btn-circle-sm {
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 2px 0;
    font-size: 20px;
    line-height: 1.65;
    border-radius: 30px;
}

.btn-circle-micro {
    width: 19px;
    height: 19px;
    text-align: center;
    padding: 1px 0;
    font-size: 9px;
    border-radius: 30px;
}

.btn-circle {
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 5px 0;
    font-size: 12px;
    border-radius: 30px;
}

.chart-link {
    margin-right: 10px;
}

.content-page {
    border-left: 2px solid #807F7F;
}

.content-page p {
    text-align: justify;
}

.categorinavbtn .btn img {
    width: 28px;
}

.categorinavbtn .btn {
    padding: 0;
    margin-top: 7px;
}

ul.categorinavbtn li {
    width: 100%;
}

.categorinavbtn .dropdown-menu {
    width: 260px;
    margin-left: -30px;
    border-radius: 2px;
}

.product {
    margin: 10px 0;
}

.cardresult div.img-center-product {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover !important;
    cursor: pointer;
    height: 0;
    padding-bottom: 70%;
    width: 100%;
}

div.img-center-product {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover !important;
    cursor: pointer;
    height: 0;
    padding-bottom: 100%;
    width: 100%;
    margin-bottom: 10px;
}

.containercontent {
    background-color: #fff;
    margin-top: 50px;
}

.detail-wiranty {
    background-color: #ECECEC;
    border-radius: 6px;
    margin: 15px -15px;
    padding: 10px 0;
}

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f22 {
    font-size: 22px !important;
}

.f30 {
    font-size: 30px;
}

.f38 {
    font-size: 38px;
}

.f40 {
    font-size: 40px;
}

.f48 {
    font-size: 48px;
}

.f60 {
    font-size: 60px;
}

.f72 {
    font-size: 72px;
}

.fbold {
    font-weight: 700;
    font-family: "museosans-700",Verdana,Tahoma;
}

.forange {
    color: orange !important;
}

.fblack {
    color: #292828 !important;
}

a.fblack {
    color: #292828 !important;
}

.file_input_hidden {
    cursor: pointer;
    font-size: 18px;
    margin-top: -33px;
    opacity: 0;
    position: relative;
    right: 0;
}

.footer {
    background-color: #ECECEC;
}

.footer ul {
    list-style: none;
    padding-left: 0;
    font-size: 12px;
}

.footer ul a {
    text-decoration: none;
    color: #333;
}

.footer .col-lg-5ths {
    text-align: center;
    vertical-align: middle;
}

.footer .col-lg-5ths img.img-responsive {
    margin: 0 auto;
}

.foot-page {
    padding-bottom: 40px !important;
    padding-top: 80px !important;
}

.foot-page .btn-dark {
    background-color: #272626;
    color: #fff;
    padding: 10px;
    width: 100%;
}

.foot-page .fa-play {
    color: #272626;
}

.foot-page strong {
    font-size: medium;
}

.img-4 {
    border-bottom: 3px solid orange;
    cursor: pointer;
    width: 120px;
}

.img-tooltip {
    margin-bottom: 20px;
}

.img-detail-lg {
    height: 100%;
    max-height: 400px;
    width: auto;
    max-width: 100%;
}

.img-border {
    border-radius: 4px;
    border: 1px solid #cacaca;
}

.head {
    background-color: #fff;
}

.linkpagination {
    margin-bottom: 20px;
}

ul.list-brand li a img {
    width: 80px;
}

.list-group {
    margin-top: 10px;
}

.list-group .list-group-item {
/*border: none;*/
}

.line-black {
    height: 5px;
    background-color: #000;
}

.mapback {
    background-image: url(../../public/image/maps.png);
    background-repeat: no-repeat;
    background-size: 600px 300px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.menupromo {
    background: #fabe0a;
    background-image: linear-gradient(to bottom,#fabe0a,#e69603);
    background-image: -moz-linear-gradient(top,#fabe0a,#e69603);
    background-image: -ms-linear-gradient(top,#fabe0a,#e69603);
    background-image: -o-linear-gradient(top,#fabe0a,#e69603);
    background-image: -webkit-linear-gradient(top,#fabe0a,#e69603);
    border-radius: 4px;
    color: #fff !important;
    font-family: Arial;
    moz-border-radius: 4;
    padding: 10px 20px;
    text-decoration: none;
    webkit-border-radius: 4;
}
.menucucigudang{
    background: #F53939;
    background-image: linear-gradient(to bottom,#F53939,#BB1504);
    background-image: -moz-linear-gradient(top,#F53939,#BB1504);
    background-image: -ms-linear-gradient(top,#F53939,#BB1504);
    background-image: -o-linear-gradient(top,#F53939,#BB1504);
    background-image: -webkit-linear-gradient(top,#F53939,#BB1504);
    border-radius: 4px;
    color: #fff !important;
    font-family: Arial;
    moz-border-radius: 4;
    padding: 10px 20px;
    text-decoration: none;
    webkit-border-radius: 4;
}
.menucucigudang:hover{
    background: #BB1504;
    background-image: linear-gradient(to bottom,#BB1504,#F53939);
    background-image: -moz-linear-gradient(top,#BB1504,#F53939);
    background-image: -ms-linear-gradient(top,#BB1504,#F53939);
    background-image: -o-linear-gradient(top,#BB1504,#F53939);
    background-image: -webkit-linear-gradient(top,#BB1504,#F53939);
}
.menuusedcomponent{
    background: #5A5959;
    background-image: linear-gradient(to bottom,#5A5959,#232323);
    background-image: -moz-linear-gradient(top,#5A5959,#232323);
    background-image: -ms-linear-gradient(top,#5A5959,#232323);
    background-image: -o-linear-gradient(top,#5A5959,#232323);
    background-image: -webkit-linear-gradient(top,#5A5959,#232323);
    border-radius: 4px;
    color: #fff !important;
    font-family: Arial;
    moz-border-radius: 4;
    padding: 10px 20px;
    text-decoration: none;
    webkit-border-radius: 4;
}
.menuusedcomponent:hover{
    background: #232323;
    background-image: linear-gradient(to bottom,#232323,#5A5959);
    background-image: -moz-linear-gradient(top,#232323,#5A5959);
    background-image: -ms-linear-gradient(top,#232323,#5A5959);
    background-image: -o-linear-gradient(top,#232323,#5A5959);
    background-image: -webkit-linear-gradient(top,#232323,#5A5959);
}
.menubrown{
    background: #c49727;
    background-image: linear-gradient(to bottom,#c49727,#612405);
    background-image: -moz-linear-gradient(top,#c49727,#612405);
    background-image: -ms-linear-gradient(top,#c49727,#612405);
    background-image: -o-linear-gradient(top,#c49727,#612405);
    background-image: -webkit-linear-gradient(top,#c49727,#612405);
    border-radius: 4px;
    color: #fff !important;
    font-family: Arial;
    moz-border-radius: 4;
    padding: 10px 20px;
    text-decoration: none;
    webkit-border-radius: 4;
}
.menubrown:hover{
    background: #612405;
    background-image: linear-gradient(to bottom,#612405,#c49727);
    background-image: -moz-linear-gradient(top,#612405,#c49727);
    background-image: -ms-linear-gradient(top,#612405,#c49727);
    background-image: -o-linear-gradient(top,#612405,#c49727);
    background-image: -webkit-linear-gradient(top,#612405,#c49727);
}
.menugrey{
    background: #cfcfcf;
    background-image: linear-gradient(to bottom,#cfcfcf,#4d4d4d);
    background-image: -moz-linear-gradient(top,#cfcfcf,#4d4d4d);
    background-image: -ms-linear-gradient(top,#cfcfcf,#4d4d4d);
    background-image: -o-linear-gradient(top,#cfcfcf,#4d4d4d);
    background-image: -webkit-linear-gradient(top,#cfcfcf,#4d4d4d);
    border-radius: 4px;
    color: #fff !important;
    font-family: Arial;
    moz-border-radius: 4;
    padding: 10px 20px;
    text-decoration: none;
    webkit-border-radius: 4;
}
.menugrey:hover{
    background: #4d4d4d;
    background-image: linear-gradient(to bottom,#4d4d4d,#cfcfcf);
    background-image: -moz-linear-gradient(top,#4d4d4d,#cfcfcf);
    background-image: -ms-linear-gradient(top,#4d4d4d,#cfcfcf);
    background-image: -o-linear-gradient(top,#4d4d4d,#cfcfcf);
    background-image: -webkit-linear-gradient(top,#4d4d4d,#cfcfcf);
}
.menushop {
    font-size: 23px !important;
}

.mozillanotif {
    display: none;
}

.modal-content {
    background-color: #f5f5f5;
}

.museosans {
    font-family: "museosans",Verdana,Tahoma;
}

.museosans-700 {
    font-family: "museosans-700",Verdana,Tahoma;
}

.nav .btn-toolbar .btn {
    font-weight: 700;
}

.nav .chart {
    text-align: end;
}

.nav li a,.bottomnav div.container ul li a {
    color: #231F20;
    font-family: "museosans-700",Verdana,Tahoma;
    margin-top: 10px;
}

.bottomnav div.container ul a.white {
    color: #fff !important;
}

.bottomnav div.container ul.categori {
    margin-left: -15px;
    margin-right: -10px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px;
    background: #fabe0a;
    background-image: linear-gradient(to bottom,#fabe0a,#e69603);
    background-image: -moz-linear-gradient(top,#fabe0a,#e69603);
    background-image: -ms-linear-gradient(top,#fabe0a,#e69603);
    background-image: -o-linear-gradient(top,#fabe0a,#e69603);
    background-image: -webkit-linear-gradient(top,#fabe0a,#e69603);
    color: #fff !important;
    text-decoration: none;
}

div.categorititle span.list-group-item {
    border: 0 solid transparent;
}

div.categorititle span.list-group-item img {
    width: 30px;
}

div.categorititle span.list-group-item .btn {
    margin-right: 10px;
    padding: 1px;
}

div.categori .list-group-item {
    border-radius: 0;
    border: 0 solid transparent;
}

div.categori a.list-group-item img {
    margin-right: 10px;
    width: 30px;
}

div.categori-link .list-group .list-group-item:last-child {
    margin-bottom: 1px;
}

#content-promoimg a:hover img {
    -webkit-box-shadow: 0 1px 10px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 1px 10px 0 rgba(0,0,0,0.75);
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.75);
}

.categori-link .list-group a.list-promo1:hover ~ .list-promoimg1 {
    display: inline-block;
}


.categori.list-group a.list-group-item{
    
    -moz-transition: padding-left .1s ease-in;
     -o-transition: padding-left  .1s ease-in;
     -webkit-transition: padding-left  .1s ease-in;
     transition: padding-left  .1s ease-in;
}

.categori.list-group a.list-group-item:hover{
    
    padding-left: 20px;
}

.nodisplay {
    display: none;
}

.bottomnav div.container ul.categori li a {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
}

.navbar {
    background: linear-gradient(to bottom,rgba(244,244,244,1) 39%,rgba(201,201,201,1) 100%);
    background: -moz-linear-gradient(top,rgba(244,244,244,1) 39%,rgba(201,201,201,1) 100%);
    background: -ms-linear-gradient(top,rgba(244,244,244,1) 39%,rgba(201,201,201,1) 100%);
    background: -o-linear-gradient(top,rgba(244,244,244,1) 39%,rgba(201,201,201,1) 100%);
    /*background: #f4f4f4;*/
    background: -webkit-gradient(linear,left top,left bottom,color-stop(39%,rgba(244,244,244,1)),color-stop(100%,rgba(201,201,201,1)));
    background: -webkit-linear-gradient(top,rgba(244,244,244,1) 39%,rgba(201,201,201,1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4',endColorstr='#c9c9c9',GradientType=0);
}

.navbar div ul li a {
    color: #4E4C4D;
    font-weight: 700;
}

.orange {
    background-color: orange;
    color: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
}

.orange .form-group {
    padding-top: 20px;
}

.orange .input-group-addon {
    background-color: transparent;
    border: 2px solid #fff !important;
}

.orange input,.orange input::-webkit-input-placeholder {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}

.orange span.input-group-addon button {
    left: -30px;
    padding-left: -20px;
    width: 100%;
}

.orange span.input-group-addon strong {
    color: #fff;
    padding-left: 20px;
}

.page div a {
    text-decoration: none;
    color: #333;
}

.page a.more {
    float: right;
    margin-top: -30px;
}

span.more {
    float: right;
    margin-top: -30px;
}

.panelcareer {
    border: 2.5px solid #4E4C4D;
    border-radius: 5px;
    margin: 10px 0;
}

.partnumber {
    margin-top: 60px;
}

.promo-small {
    right: 12px;
    top: -2px;
    position: absolute;
}

.promo-ondetail {
    right: -7px;
    top: -6px;
    position: absolute;
}

.resultsearch {
    margin-top: 20px;
}

.right .fa-play {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0,mirror=1);
    ms-transform: scale(-1,1);
    transform: scale(-1,1);
    webkit-transform: scale(-1,1);
}

.row {
    padding-bottom: 20px;
    padding-top: 20px;
}

.selectsearch {
    height: 300px;
    margin-bottom: 20px;
    min-height: 200px;
}

.selectsearch button.form-control {
    width: 50px;
}

.selectsearch i {
    font-style: normal;
    font-weight: 700;
}

.slide .carousel-inner {
}

.slide .carousel-inner a:hover,.slide .carousel-inner .carousel-inner {
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
}

.slide .carousel-inner .item {
    padding-bottom: 0;
    padding-top: 0;
}

.space {
    height: 80px;
    max-height: 80px;
}
.space10{height: 10px;max-height:10px}
.space20 {
    height: 20px;
    max-height: 20px;
}

.space40 {
    height: 50px;
    max-height: 50px;
}

.space100 {
    height: 100px;
    max-height: 100px;
}

.setting-shipping .row {
    padding-top: 0;
}

.setting-shipping .row .checkbox {
    margin-top: 0;
}

.setting-shipping .row .checkbox label {
    margin-right: 5px;
}

.p10 {
    padding: 10px;
}

.p5 {
    padding: 5px;
}

@font-face {
    font-family: "museosans-700";
    src: url(../fonts/MuseoSans.ttf) format("truetype");
    src: url(../fonts/MuseoSans.woff) format("truetype");
}

@font-face {
    font-family: "museosans";
    src: url(../fonts/MuseoSans-100.ttf) format("truetype");
    src: url(../fonts/MuseoSans-100.woff) format("truetype");
}
@media only screen and (max-width: 320px) {
	.col-xs-5ths p,.col-sm-5ths p,.col-md-5ths p,.col-lg-5ths p{
		margin-right: 10px;
		margin-left: 10px;
	}
	.space10{height: 5px;max-height:5px}
	.space40{height: 20px;max-height:20px}
	.space20{height: 5px;max-height:5px}
	.space{height: 40px;max-height:40px}
	.space100{height: 50px;max-height:50px}
    .dl-account-info .row {padding: 0px 0;}
	.dl-account-info dt {width: 30% !important;}
    dt {width: 100% !important;}
    .nopadding{padding:0}.nopt{padding-top:0}.nopb{padding-bottom:0}.nopl{padding-left:0}.nopr{padding-right:0}.nomt{margin-top:0}.nomb{margin-bottom:0}.noml{margin-left:0}.nomr{margin-right:0}.mt2{margin-top:2px}.mb2{margin-bottom:2px}.ml2{margin-left:2px}.mr2{margin-right:2px}.pt5{padding-top:5px}.pb5{padding-bottom:5px}.pl5{padding-left:5px}.pr5{padding-right:5px}.pt1{padding-top:1px}.pb1{padding-bottom:1px}.pl1{padding-left:1px}.pr1{padding-right:1px}
}
@media only screen and (min-width: 320px) {
.promo {
    display: none;
}
.dl-account-info .row {padding: 0px 0;}
.dl-account-info dt {width: 30% !important;}
.dl-account-default dt {width: 70% !important;}
dt {width: 100% !important;}

.col-xs-5ths,.col-sm-5ths,.col-md-5ths,.col-lg-5ths{
	padding-right: 15px;
	padding-left: 15px;
}
.col-xs-5ths p,.col-sm-5ths p,.col-md-5ths p,.col-lg-5ths p{
	margin-right: 15px;
	margin-left: 15px;
}
.img-mobile-center {
    margin: 0 auto;
}

.navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse,.navbar-static-top .navbar-collapse {
    min-height: 70px;
    padding-left: 15px;
}
.nopadding{padding:0}.nopt{padding-top:0}.nopb{padding-bottom:0}.nopl{padding-left:0}.nopr{padding-right:0}.nomt{margin-top:0}.nomb{margin-bottom:0}.noml{margin-left:0}.nomr{margin-right:0}.mt2{margin-top:2px}.mb2{margin-bottom:2px}.ml2{margin-left:2px}.mr2{margin-right:2px}.pt5{padding-top:5px}.pb5{padding-bottom:5px}.pl5{padding-left:5px}.pr5{padding-right:5px}.pt1{padding-top:1px}.pb1{padding-bottom:1px}.pl1{padding-left:1px}.pr1{padding-right:1px}
}

@media only screen and (min-width: 480px) {
.promo {
    display: none;
}
.dl-account-info .row {padding: 0px 0;}
.dl-account-info dt {width: 30% !important;}
.dl-account-default dt {width: 70% !important;}
dt {width: 100% !important;}

.col-xs-5ths,.col-sm-5ths,.col-md-5ths,.col-lg-5ths{
	padding-right: 15px;
	padding-left: 15px;
}
.col-xs-5ths p,.col-sm-5ths p,.col-md-5ths p,.col-lg-5ths p{
	margin-right: 15px;
	margin-left: 15px;
}
.img-mobile-center {
    margin: 0 auto;
}

.navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse,.navbar-static-top .navbar-collapse {
    min-height: 70px;
    padding-left: 15px;
}
.nopadding{padding:0}.nopt{padding-top:0}.nopb{padding-bottom:0}.nopl{padding-left:0}.nopr{padding-right:0}.nomt{margin-top:0}.nomb{margin-bottom:0}.noml{margin-left:0}.nomr{margin-right:0}.mt2{margin-top:2px}.mb2{margin-bottom:2px}.ml2{margin-left:2px}.mr2{margin-right:2px}.pt5{padding-top:5px}.pb5{padding-bottom:5px}.pl5{padding-left:5px}.pr5{padding-right:5px}.pt1{padding-top:1px}.pb1{padding-bottom:1px}.pl1{padding-left:1px}.pr1{padding-right:1px}
}

@media only screen and (min-width: 768px) {
.promo {
    display: none;
}
.dl-account-info .row {padding: 0px 0;}

.img-mobile-center {
    margin: 0 auto;
}
}

@media only screen and (min-width: 992px) {
.container {
    width: 1100px;
}

.navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse,.navbar-static-top .navbar-collapse {
    min-height: 70px;
    padding-left: 170px;
}

.divprice {
    position: absolute;
    right: 0;
    top: 20%;
}

.divprice .promo {
    display: initial;
    height: 175%;
    position: absolute;
    right: -20px;
    top: -45px;
}

.left h1 {
    text-align: right;
}

.vertical-align {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
}

.vertical-align .fa-play {
    margin: 0 20px;
}

.vertical-align > [class^="col-"] > div,.vertical-align > [class*=" col-"] > div {
    flex-grow: 1;
}

.vertical-align > [class^="col-"],.vertical-align > [class*=" col-"] {
    align-items: center;
    display: flex;
    justify-content: center;
}

.vertical-align > div:first-child {
}

.vertical-align > div:last-child {
}

.nopadding{padding:0}.nopt{padding-top:0}.nopb{padding-bottom:0}.nopl{padding-left:0}.nopr{padding-right:0}.nomt{margin-top:0}.nomb{margin-bottom:0}.noml{margin-left:0}.nomr{margin-right:0}.mt2{margin-top:2px}.mb2{margin-bottom:2px}.ml2{margin-left:2px}.mr2{margin-right:2px}.pt5{padding-top:5px}.pb5{padding-bottom:5px}.pl5{padding-left:5px}.pr5{padding-right:5px}.pt1{padding-top:1px}.pb1{padding-bottom:1px}.pl1{padding-left:1px}.pr1{padding-right:1px}

.mozillanotif {
    display: visible;
}
ul.navbar-nav{
	width: 100%;
}

.nav li a,.bottomnav div.container ul li a,.navbar div ul li a {
    font-weight: 400;
}

.orange .form-control {
    border-color: #fff;
    color: #fff;
}

.orange .form-control::-moz-placeholder {
    border-color: #fff;
    color: #fff;
}
input.textsearch{
	background-color: transparent;
}

.col-xs-5ths,.col-sm-5ths,.col-md-5ths,.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
.col-lg-5ths {
    width: 20%;
    float: left;
}
.nopadding{padding:0}.nopt{padding-top:0}.nopb{padding-bottom:0}.nopl{padding-left:0}.nopr{padding-right:0}.nomt{margin-top:0}.nomb{margin-bottom:0}.noml{margin-left:0}.nomr{margin-right:0}.mt2{margin-top:2px}.mb2{margin-bottom:2px}.ml2{margin-left:2px}.mr2{margin-right:2px}.pt5{padding-top:5px}.pb5{padding-bottom:5px}.pl5{padding-left:5px}.pr5{padding-right:5px}.pt1{padding-top:1px}.pb1{padding-bottom:1px}.pl1{padding-left:1px}.pr1{padding-right:1px}
}

a.menupromo:hover {
    background: #f29a03;
    background-image: linear-gradient(to bottom,#f29a03,#d69a03);
    background-image: -moz-linear-gradient(top,#f29a03,#d69a03);
    background-image: -ms-linear-gradient(top,#f29a03,#d69a03);
    background-image: -o-linear-gradient(top,#f29a03,#d69a03);
    background-image: -webkit-linear-gradient(top,#f29a03,#d69a03);
    text-decoration: none;
}

a h1,a h2,a h3,a h4,a h5,a h6 {
    color: #333;
    text-decoration: none;
}

a:hover,a h1:hover,a h2:hover,a h3:hover,a h4:hover,a h5:hover,a h6:hover {
    color: #333;
    text-decoration: none;
}

body {
    padding-right: 0 !important;
}

body {
    background-color: rgba(234,234,234,0.57);
}

body.modal-open {
    overflow-y: 0 !important;
    padding-right: 0 !important;
}

dl.dl-account-info dt,dl.dl-account-info dd {
    float: left;
    display: inline-block;
}

dl.dl-account-info dt {
    width: 30% !important;
}

.dl-account-info dt {
    width: 30% !important;
}

.dl-account-info .row {
    padding: 10px 0;
    margin: 0;
    border-bottom: 1px solid #D5D5D5;
}

.nopadding {
    padding: 0 !important;
    border-bottom-width: 0 !important;
    margin-left: -15px !important;
    margin-right: -15px !important;
}

dl.dl-account-info .row {
}

.tab-pane .row dt {
    padding-top: 5px;
}

footer {
    margin: 0 !important;
    padding: 0;
}

footer .row {
    padding: 10px;
}

footer .row p {
    font-size: 12px;
}

footer .row p a {
    color: #333;
    padding-left: 20px;
}

input.form-control::-webkit-input-placeholder,select.form-control,button.form-control,input.form-control,textarea.form-control::-webkit-input-placeholder,textarea.form-control {
    color: #000;
    font-weight: bolder;
}

nav .searchhead .input-group-addon {
    border: 2px solid #656565;
    border-left: none;
}

p {
    font-weight: bolder;
}

p,h1,h2,h3,h4,h5,h6,span,input,i,dl {
    font-family: "museosans",Verdana,Tahoma;
}

strong {
    font-family: "museosans-700",Verdana,Tahoma;
}

select.form-control,button.form-control,input.form-control,textarea.form-control {
    border: solid 2px #656565;
}

textarea {
    resize: none;
}

textarea:hover,input:hover,textarea:active,input:active,textarea:focus,input:focus,button:focus,button:active,button:hover {
    outline: 0 !important;
    webkit-appearance: none;
}

.table tbody tr td {
    border: 0 solid transparent;
}

.table tfoot tr td.noborder {
    border: 0 solid transparent;
}

td,th {
    padding: 0;
    vertical-align: text-top;
}

/* WIDGET BOX STYLES */
.widget-wrapper {
    background-color: #fff;
}

.widget-wrapper .header-top,.widget-wrapper .header-top:hover {
    background-color: orange;
    color: #fff;
    text-decoration: none;
}

.widget-wrapper a {
    color: #000;
}

.widget-wrapper a:hover {
    text-decoration: none;
    color: #000;
}

.widget-wrapper ul {
    list-style: none;
    padding-left: 0;
}

.widget-wrapper ul li {
    padding: 10px;
    border: 1px solid #eee;
    cursor: pointer;
}

.widget-wrapper ul li:hover {
    background-color: #f3f3f3;
}

.widget-wrapper span {
    margin-right: 10px;
}

.widget-wrapper .badge {
    position: absolute;
    right: 30px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.widget-wrapper .clr-bk-primary {
    background-color: #0931f2;
}

.widget-wrapper .clr-bk-info {
    background-color: #42a5a8;
}

.widget-wrapper .clr-bk-success {
    background-color: #5dd56a;
}

.widget-wrapper .clr-bk-warning {
    background-color: #dee031;
}

.widget-wrapper .clr-bk-danger {
    background-color: #e45050;
}

.nopadding {
    padding: 0;
}

.nopt {
    padding-top: 0;
}

.nopb {
    padding-bottom: 0;
}

.nopl {
    padding-left: 0;
}

.nopr {
    padding-right: 0;
}

.nomt {
    margin-top: 0;
}

.nomb {
    margin-bottom: 0;
}

.noml {
    margin-left: 0;
}

.nomr {
    margin-right: 0;
}

.mt2 {
    margin-top: 2px;
}

.mb2 {
    margin-bottom: 2px;
}

.ml2 {
    margin-left: 2px;
}

.mr2 {
    margin-right: 2px;
}

.pt5 {
    padding-top: 5px;
}

.pb5 {
    padding-bottom: 5px;
}

.pl5 {
    padding-left: 5px;
}

.pr5 {
    padding-right: 5px;
}

.pt1 {
    padding-top: 1px;
}

.pb1 {
    padding-bottom: 1px;
}

.pl1 {
    padding-left: 1px;
}

.pr1 {
    padding-right: 1px;
}

.badge {
    cursor: pointer;
}

.badge-respon {
    background: #C5C5C5;
    background-image: -webkit-linear-gradient(top,#E0DEDE,#B7B7B7);
    background-image: -moz-linear-gradient(top,#E0DEDE,#B7B7B7);
    background-image: -ms-linear-gradient(top,#E0DEDE,#B7B7B7);
    background-image: -o-linear-gradient(top,#E0DEDE,#B7B7B7);
    background-image: linear-gradient(to bottom,#E0DEDE,#B7B7B7);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #000;
}

.badge-silver {
    background: #C5C5C5;
    background-image: -webkit-linear-gradient(top,#E0DEDE,#B7B7B7);
    background-image: -moz-linear-gradient(top,#E0DEDE,#B7B7B7);
    background-image: -ms-linear-gradient(top,#E0DEDE,#B7B7B7);
    background-image: -o-linear-gradient(top,#E0DEDE,#B7B7B7);
    background-image: linear-gradient(to bottom,#E0DEDE,#B7B7B7);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #000;
}

.badge-gold {
    background: #F7CA60;
    background-image: -webkit-linear-gradient(top,#F7CA60,#E09A35);
    background-image: -moz-linear-gradient(top,#F7CA60,#E09A35);
    background-image: -ms-linear-gradient(top,#F7CA60,#E09A35);
    background-image: -o-linear-gradient(top,#F7CA60,#E09A35);
    background-image: linear-gradient(to bottom,#F7CA60,#E09A35);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #fff;
}

.badge-platinum {
    background: #f0f0f0;
    background-image: -webkit-linear-gradient(top,#f0f0f0,#d1d1d1);
    background-image: -moz-linear-gradient(top,#f0f0f0,#d1d1d1);
    background-image: -ms-linear-gradient(top,#f0f0f0,#d1d1d1);
    background-image: -o-linear-gradient(top,#f0f0f0,#d1d1d1);
    background-image: linear-gradient(to bottom,#f0f0f0,#d1d1d1);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #333;
}

.badge-unactive {
    background-color: #D9534F;
}

.badge-active {
    background-color: #337ab7;
}

.tooltip-inner {
    background: #f0f0f0;
    background-image: -webkit-linear-gradient(top,#f0f0f0,#d1d1d1);
    background-image: -moz-linear-gradient(top,#f0f0f0,#d1d1d1);
    background-image: -ms-linear-gradient(top,#f0f0f0,#d1d1d1);
    background-image: -o-linear-gradient(top,#f0f0f0,#d1d1d1);
    background-image: linear-gradient(to bottom,#f0f0f0,#d1d1d1);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #333;
}

.tooltip-arrow {
    border-bottom-color: #f0f0f0 !important;
}

.headbottomslide {
    width: 100%;
    height: 200px;
}

.headrightslide {
    width: 100%;
    height: 166px;
    border-bottom: 1px solid rgba(128,128,128,0.24);
}

.noborder {
    border: 0 solid transparent !important;
}

.promobig {
    width: 100%;
    height: 340px;
}

.promo-img {
    width: 100%;
    height: 150px;
}

.popover-title {
    font-family: "museosans-700";
}

.popover {
    z-index: 999;
}

.card {
    position: relative;
    margin-bottom: .75rem;
    border: 1px solid #e5e5e5;
    border-radius: .25rem;
}
._after, ._before{cursor: pointer;padding: 15px;}
.menu_center{margin-top: -5px;}
.breadcrumb {
    background-color: #E8E8E8;
}
.nooverflow{overflow-x: hidden;}
