.DS_Store
.git
.hg
.vscode


application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

application/config/google.php
composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/


/application/config.php
/application/database.php
/cache/*
/public/filequotation/*
/public/image/artikel/*
/public/image/cache/*
/public/image/complaint/*
/public/image/cucigudang/*
/public/image/galery/*
/public/image/imageslide/*
/public/image/landing-page-1/*
/public/image/member/*
/public/image/page/*
/public/image/product/*
/public/image/lelang/*
/public/image/product----/*
/public/image/promo/*
/public/image/upload/*
/public/image/prospek/*
/public/tmp/*

/application/config/database.php
/application/config/config.php