.DS_Store
.git
.hg
.vscode
.env

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

/cache/*
!/cache/.gitkeep

/public/filequotation/*
!/public/filequotation/.gitkeep

/public/image/artikel/*
!/public/image/artikel/.gitkeep

/public/image/cache/*
!/public/image/cache/.gitkeep

/public/image/complaint/*
!/public/image/complaint/.gitkeep

/public/image/cucigudang/*
!/public/image/cucigudang/.gitkeep

/public/image/galery/*
!/public/image/galery/.gitkeep

/public/image/landing-page-1/*
!/public/image/landing-page-1/.gitkeep

/public/image/member/*
!/public/image/member/.gitkeep

/public/image/page/*
!/public/image/page/.gitkeep

/public/image/product/*
!/public/image/product/.gitkeep

/public/image/lelang/*
!/public/image/lelang/.gitkeep

/public/image/product----/*
!/public/image/product----/.gitkeep

/public/image/promo/*
!/public/image/promo/.gitkeep

/public/image/upload/*
!/public/image/upload/.gitkeep

/public/image/prospek/*
!/public/image/prospek/.gitkeep

/public/tmp/*
!/public/tmp/.gitkeep

/application/config/google.php
/application/config/database.php
/application/config/config.php

/asset/insite/credentials-trumecs.json
