body {
  background-color: white !important;
}

a {
  text-decoration: none !important;
}

.ready-to-join {
  background: url("/public/image/handshake.png");
  height: 329px;
  width: 100%;
  background-size: cover;
}

.card-brand {
  position: relative;
  width: 100%;
  height: 50px;
}

.slick-arrow {
  margin: auto 25px !important;
  z-index: 9999;
  height: 80px !important;
  top: 0px !important;
  bottom: 0px !important;
  width: 45px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
}

p {
  margin: 0px;
  padding: 0px;
}

.content-header-home {
  padding-top: 15% !important;
}

.content-header-home input {
  padding: 10px;
}
.content-header-home button {
  padding: 10px;
}
.content-header-home button:hover {
  padding: 10px;
}

button:focus {
  outline: none !important;
}

.card-brand img {
  max-width: 60%;
  max-height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body section div.container {
  background-color: transparent !important;
}
.banner-home {
  margin-top: -130px !important;
  height: 80vh;
  background: url("../../../../../public/banner/bg-home.png");
  background-size: cover;
}
.home-text {
  position: absolute;
  top: 40%;
  left: 15%;
  width: 50%;
  height: 50xpx;
  color: #fff;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.home-text h1 {
  font-size: 16px;
  font-weight: bold;
  color: #fa8420;
}

.home-text h2 {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
}

.home-text h2 span {
  font-size: 60px;
  font-weight: bold;
  color: #fa8420;
}

.home-submain {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.home-submain:hover {
  box-shadow: 1px 1px 1px #333;
}

.home-submain a {
  display: block;
}

.home-submain img {
  width: 100%;
  min-height: 100%;
}

.submain-content {
  position: absolute;
  top: 40%;
  left: 5%;
  color: #fff;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.submain-content h1 {
  padding: 10px;
  margin: 0;
  color: #fa8420;
}

.submain-content h2 {
  padding: 0px 10px;
  margin: 0;
  font-size: 18px;
}

.home-main {
  position: relative;
  width: 100%;
  height: 80vh;
  background-color: linear-gradient(to right, #333, #666);
  overflow: hidden;
}

.home-main img {
  width: 100%;
  background-color: linear-gradient(to right, #333, #666);
}

.search-main {
  position: absolute;
  top: 35%;
  left: 25%;
  width: 50%;
  height: 50px;
  color: #fff;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.search-main h1 {
  font-size: 24px;
  font-weight: bold;
  color: #fa8420;
}

.search-main h2 {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

.search-main input {
  height: 50px;
  background-color: #fff;
}

.search-main span {
  background: #fa8420;
  color: #fff;
}

#clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

#clockdiv > span {
  padding: 5px;
  border-radius: 10px;
  background: red;
  display: inline-block;
}

.text-category:hover {
  text-decoration: none;
  color: #fa8420 !important;
}
.text-category div img {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}
.text-category div:hover {
  margin-top: -10px;
}
.card-article:hover {
  background-color: #eee;
}

.banner-home .prev-banner-home {
  position: absolute;
  top: 40%;
  right: 0;
}

.banner-home .next-banner-home {
  position: absolute;
  top: 40%;
  left: 0;
}

.brands .prev-brands {
  position: absolute;
  top: 36%;
  right: -3%;
}

.brands .next-brands {
  position: absolute;
  top: 36%;
  left: -3%;
}

.promo-home .prev-promo-home {
  position: absolute;
  top: 35%;
  right: -3%;
}

.promo-home .next-promo-home {
  position: absolute;
  top: 35%;
  left: -3%;
}

.product-home .prev-product-home {
  position: absolute;
  top: 130px;
  right: -3%;
}

.product-home .next-product-home {
  position: absolute;
  top: 130px;
  left: -3%;
}
.best-seller-home .prev-best-seller-home {
  position: absolute;
  top: 130px;
  right: -3%;
}

.best-seller-home .next-best-seller-home {
  position: absolute;
  top: 130px;
  left: -3%;
}

.article-home .prev-article-home {
  position: absolute;
  top: 40%;
  right: -3%;
}

.article-home .next-article-home {
  position: absolute;
  top: 40%;
  left: -3%;
}

.title-desktop .title-home-category {
  font-size: 18px;
  color: #fa8420;
  text-decoration: none;
}
.title-desktop .title-home-category:hover {
  color: #000;
}

.float {
  position: fixed;
  bottom: 40px;
  color: white;
  background-color: black;

  width: 94% !important;
  text-align: center;
  box-shadow: var(--box-shadow);
  z-index: 9999;
  margin: 0px 10px 20px;
}

.menu-big-4-mobile .menu-sourcing {
  height: 170px;
  position: relative;
  overflow: hidden;
}

.menu-big-4-mobile .menu-sourcing img {
  max-height: 100%;
  object-fit: cover;
  margin: 0 auto;
  left: 0;
  top: 0;
  display: block;
  position: absolute;
}

.menu-big-4-mobile .menu-sourcing .content {
  max-width: 50%;
  margin: 0 auto;
  text-align: right;
  right: 20px;
  top: 1.5rem;
  display: block;
  position: absolute;
}

.menu-big-4-mobile .kiri {
  height: 170px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.menu-big-4-mobile .kiri .maintenance {
  max-height: 70%;
  object-fit: cover;
  margin: 0 auto;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
}

.menu-big-4-mobile .kiri .construction {
  max-height: 50%;
  width: 100%;
  object-fit: cover;
  margin: 0 auto;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
}

.menu-big-4-mobile .kanan {
  position: relative;
  height: 356px;
  overflow: hidden;
  width: 100%;
}

.menu-big-4-mobile .kanan img {
  max-height: 100%;
  object-fit: cover;
  margin: 0 auto;
  right: 0;
  top: 0;
  display: block;
  position: absolute;
}

.main-category-item {
  padding: 1.5rem;
  border: 1px solid #eee;
  transition: all 0.3s ease;
  height: 70px;
  position: relative;
  background: #f6f6f7;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.main-category-item p {
  z-index: 2;
  margin: 0;
  max-width: 60%;
  line-height: 1.2;
}

.main-category-item img {
  max-height: 100%;
  object-fit: cover;
  margin: 0 auto;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.banner-ads-image {
  width: 60%;
}