.f1rem {
    font-size: 1rem;
}



.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f22 {
    font-size: 22px !important;
}

.f30 {
    font-size: 30px;
}

.f38 {
    font-size: 38px;
}

.f40 {
    font-size: 40px;
}

.f48 {
    font-size: 48px;
}

.f60 {
    font-size: 60px;
}

.f72 {
    font-size: 72px;
}

.fbold {
    font-weight: 700;
}

.forange {
    color: orange !important;
}
.forange:hover {
    color: #CE8604 !important;
}

.fblack {
    color: #292828 !important;
}

a.fblack {
    color: #292828 !important;
}