body {
  background-color: white !important;
}

a {
  text-decoration: none !important;
}

.ready-to-join {
  background: url("/public/image/handshake.png");
  height: 329px;
  width: 100%;
  background-size: cover;
}

.card-brand {
  position: relative;
  width: 100%;
  height: 50px;
}

.slick-arrow {
  margin: auto 25px !important;
  z-index: 9999;
  height: 80px !important;
  top: 0px !important;
  bottom: 0px !important;
  width: 45px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
}

p {
  margin: 0px;
  padding: 0px;
}

.content-header-home {
  padding-top: 15% !important;
}

.content-header-home input {
  padding: 10px;
}
.content-header-home button {
  padding: 10px;
}
.content-header-home button:hover {
  padding: 10px;
}

button:focus {
  outline: none !important;
}

.card-brand img {
  max-width: 60%;
  max-height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body section div.container {
  background-color: transparent !important;
}
.banner-home {
  margin-top: -130px !important;
  height: 80vh;
  background: url("../../../../../public/banner/bg-home.png");
  background-size: cover;
}
.home-text {
  position: absolute;
  top: 40%;
  left: 15%;
  width: 50%;
  height: 50xpx;
  color: #fff;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.home-text h1 {
  font-size: 16px;
  font-weight: bold;
  color: #fa8420;
}

.home-text h2 {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
}

.home-text h2 span {
  font-size: 60px;
  font-weight: bold;
  color: #fa8420;
}

.home-submain {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.home-submain:hover {
  box-shadow: 1px 1px 1px #333;
}

.home-submain a {
  display: block;
}

.home-submain img {
  width: 100%;
  min-height: 100%;
}

.submain-content {
  position: absolute;
  top: 40%;
  left: 5%;
  color: #fff;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.submain-content h1 {
  padding: 10px;
  margin: 0;
  color: #fa8420;
}

.submain-content h2 {
  padding: 0px 10px;
  margin: 0;
  font-size: 18px;
}

.home-main {
  position: relative;
  width: 100%;
  height: 80vh;
  background-color: linear-gradient(to right, #333, #666);
  overflow: hidden;
}

.home-main img {
  width: 100%;
  background-color: linear-gradient(to right, #333, #666);
}

.search-main {
  position: absolute;
  top: 35%;
  left: 25%;
  width: 50%;
  height: 50px;
  color: #fff;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.search-main h1 {
  font-size: 24px;
  font-weight: bold;
  color: #fa8420;
}

.search-main h2 {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

.search-main input {
  height: 50px;
  background-color: #fff;
}

.search-main span {
  background: #fa8420;
  color: #fff;
}

#clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

#clockdiv > span {
  padding: 5px;
  border-radius: 10px;
  background: red;
  display: inline-block;
}

.text-category:hover {
  text-decoration: none;
  color: #fa8420 !important;
}
.text-category div img {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}
.text-category div:hover {
  margin-top: -10px;
}
.card-article:hover {
  background-color: #eee;
}

.banner-home .prev-banner-home {
  position: absolute;
  top: 40%;
  right: 0;
}

.banner-home .next-banner-home {
  position: absolute;
  top: 40%;
  left: 0;
}

.brands .prev-brands {
  position: absolute;
  top: 36%;
  right: -3%;
}

.brands .next-brands {
  position: absolute;
  top: 36%;
  left: -3%;
}

.promo-home .prev-promo-home {
  position: absolute;
  top: 35%;
  right: -3%;
}

.promo-home .next-promo-home {
  position: absolute;
  top: 35%;
  left: -3%;
}

.product-home .prev-product-home {
  position: absolute;
  top: 130px;
  right: -3%;
}

.product-home .next-product-home {
  position: absolute;
  top: 130px;
  left: -3%;
}
.best-seller-home .prev-best-seller-home {
  position: absolute;
  top: 130px;
  right: -3%;
}

.best-seller-home .next-best-seller-home {
  position: absolute;
  top: 130px;
  left: -3%;
}

.article-home .prev-article-home {
  position: absolute;
  top: 40%;
  right: -3%;
}

.article-home .next-article-home {
  position: absolute;
  top: 40%;
  left: -3%;
}

.title-desktop .title-home-category {
  font-size: 18px;
  color: #fa8420;
  text-decoration: none;
}
.title-desktop .title-home-category:hover {
  color: #000;
}

.float {
  position: fixed;

  bottom: 40px;
  color: white;
  background-color: black;
  right: 9%;
  width: 50% !important;
  text-align: center;
  box-shadow: var(--box-shadow);
  z-index: 9999;
}

.td-wrapper {
  display: block;
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Lato";
  font-size: 12px;
  font-weight: bold;
  align-items: center;
  display: flex;
  height: 27px;
}

.td-price {
  font-family: "Lato";
  font-size: 12px;
  font-weight: bold;
}

.catalogue-header {
  display: flex;
}

.menu-big-4-kanan-base {
  height: 721px;
  position: relative;
}

.menu-big-4-kanan-base img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: auto;
  object-fit: cover;
}

.menu-big-4-kanan-base > .content {
  width: fit-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50px;
  top: 3rem;
  gap: 15px;
  max-width: 300px;
  z-index: 9999;
}

.menu-big-4-atas-base {
  height: 356px;
  position: relative;
  width: 100%;
}

.menu-big-4-atas-base img {
  position: absolute;
  left: 0;
  height: 100%;
  width: auto;
  object-fit: cover;
}

.menu-big-4-atas-base > .content {
  width: fit-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 50px;
  top: 3rem;
  gap: 15px;
  max-width: 300px;
  z-index: 9999;
}

.menu-big-4-bawah-base {
  height: 356px !important;
  margin-top: 1px;
  position: relative;
  width: 100%;
}

.menu-big-4-bawah-base .kiri img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80%;
  width: auto;
  object-fit: cover;
  z-index: inherit;
}

.menu-big-4-bawah-base .kiri .content {
  width: fit-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 3rem;
  top: 3rem;
  gap: 15px;
  max-width: 300px;
  z-index: 9999;
}

.menu-big-4-bawah-base .kanan img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: auto;
  width: 100%;
  object-fit: cover;
  z-index: inherit;
}

.menu-big-4-bawah-base .kanan .content {
  width: fit-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 3rem;
  top: 3rem;
  gap: 15px;
  max-width: 300px;
  z-index: 9999;
}

.main-category {
  padding: 2rem 0;
}

.main-category-item {
  padding: 1.5rem;
  border: 1px solid #eee;
  transition: all 0.3s ease;
  height: 90px;
  position: relative;
  background: #f6f6f7;
}

.main-category-item:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.main-category-item img {
  max-height: 120px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
}

.banner-front {
  height: 270px;
  position: relative;
}

.banner-front img {
  max-height: 100%;
  object-fit: cover;
  margin: 0 auto;
  display: block;
  position: absolute;
}

.category-pelumas .category-pelumas-base .category-pelumas-base-kiri {
  height: 490px;
}

.category-pelumas
  .category-pelumas-base
  .category-pelumas-base-kanan
  .item-sub:nth-child(1) {
  height: 245px;
}

.category-pelumas
  .category-pelumas-base
  .category-pelumas-base-kanan
  .item-sub:nth-child(2) {
  height: 245px;
}

.category-pelumas .item-sub {
  transition: all 0.3s ease;
  cursor: pointer;
}

.category-pelumas .item-sub:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.category-pelumas .item-sub img {
  max-height: 100%;
  object-fit: cover;
  margin: 0 auto;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.category-ban .category-ban-base .category-ban-base-kiri {
  height: 490px;
}

.category-ban
  .category-ban-base
  .category-ban-base-kanan
  .item-sub:nth-child(1) {
  height: 245px;
}

.category-ban
  .category-ban-base
  .category-ban-base-kanan
  .item-sub:nth-child(2) {
  height: 245px;
}

.category-ban .item-sub {
  transition: all 0.3s ease;
  cursor: pointer;
}

.category-ban .item-sub:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.category-ban .item-sub img {
  max-height: 100%;
  object-fit: cover;
  margin: 0 auto;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}