p {
  margin: 0px !important;
  padding: 0px !important;
}

.stepper {
  background-color: var(--text-grey);
  height: 5px !important;
}

.rfq-file-pick {
  border: 2px dashed #ccc;
  cursor: pointer;
  height: 110px !important;
}

/* .rfq-form-section {
  height: 110px !important;
} */
textarea.item {
  font-size: 14px !important;
  height: 110px !important;
}

.content-get-contact-receive-request > nav {
  background: white !important;
}

.content-get-contact-receive-request > nav > .nav-tabs > .nav-link {
  background: white !important;
}

.content-get-contact-receive-request > nav > .nav-tabs > .nav-link.active {
  font-weight: bold !important;
  color: var(--color-primary);
}

.content-get-contact-receive-request
  > .tab-content
  > .active
  > *
  > .form-group
  > label {
  font-size: 14px;
}

.get-contact-form input {
  padding: 10px !important;
}

button:focus {
  outline: none !important;
}
